[mysqld]
# Configuraciones básicas
user            = mysql
bind-address    = 0.0.0.0
port            = 3306
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock

# Ajustes de rendimiento
max_connections = 100
default-storage-engine = InnoDB

# Otras configuraciones
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Log de errores
log_error = /var/log/mysql/error.log

